/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* app/assets/stylesheets/application.css */

/* Style global pour le corps */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 16;
  padding: 16;
}

/* Styles pour les titres */
h1 {
  color: #007bff;
  text-align: center;
  margin-top: 20px;
}

/* Style pour les paragraphes */
p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

/* Style pour le formulaire */
form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow:  2px 10px rgba(0, 0, 0, .1);
}

/* Style pour les champs de texte */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px ;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style pour le bouton de soumission */
input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .3s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style pour le lien de retour */
a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
